body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.title {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.logo {
	display: flex;
	justify-self: center;
	height: 500px;
	padding-left: 320px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.product-img {
	width: 90%;
	height: auto;
}
.productform {
	padding-left: 400px;
	margin-top: 100px;
}
.card-parent {
	max-width: 300px;
	height: 350px;
}

.product-desc {
	height: 250px;
}

.navbutton {
	display: flex;
}

nav {
	background: linear-gradient(270deg, #ff3131, #ff7e7e, #ffa57e);
	-webkit-animation: AnimationName 9s ease infinite;
	-moz-animation: AnimationName 9s ease infinite;
	animation: AnimationName 9s ease infinite;
	background-size: 600% 600%;
}

.embed-responsive .card-img-top {
	object-fit: cover;
}

.card-img-top {
	width: 100%;
	height: 30vw;
	object-fit: cover;
}

.test {
	align-items: center;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
